<nav>
  <div class="nav-wrapper teal lighten-2">
    <div class="brand-logo">AquaLand</div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="aquaria/new">Create New Aquarium</a></li>
      <li><a href="">Resources</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
</nav>
 <img class="responsive-img" src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQlx3aJEyDoh5llUR0-DrdrP-x8De7daO3VRWs0hZp-gqA1g_mQJmscwf14YA-xvGffcS0ziuNiGq-CmZcOLMts4_0Rio4i&usqp=CAY">
<div class="container-fluid">
  <p>Welcome to Aqualand, where you can build your own aquarium!!!!</p>
  <p>Let's get started. Complete a quick questionaire to build your own aquarium. We'll give you tips and fun facts.</p>
</div>
