<h1>Welcome to AquaLand</h1>

<p>Welcome to Aqualand, where you can build your own aquarium!!!!</p>
<p>Let's get started. Complete a quick questionaire to build your own aquarium. We'll give you tips and fun facts.</p>


<%= link_to "New", new_aquarium_path %>
