<div class="section container">
  <br>

  <h5 class = "light">Check out other aquaria!</h5>

  <br><br>

  <div class="container">
    <% @aquaria.each do |aq| %>
        <%= link_to aq.creator, aquarium_path(aq)%><br>
    <%end %>
  </div>

<img src="https://i.imgur.com/kCCvdka.png" alt="Italian Trulli" class="image">
