<div class="section container">
  <br>
  <h5 class = "light">View Your Friend's Aquarium</h5>
  <br>
  <div class="container center">
    <% @aquaria.each do |aq| %>
    <div class="row">
    <div class="col s4"><%=link_to aq.creator, aquarium_path(aq.id)%>  </div>
    <%end %>
  </div>
</div>
