<h1>Build Your Own Aquarium</h1>

<h2>Select Aquarium Size</h2>

<%= form_for @aquarium do |f| %>
  <%= f.label :gallons, "Gallons (10 or 55)" %>
  <%= f.text_field :gallons  %>
  <%= f.submit "Create" %>
<% end %>
