<h1>Build Your Own Aquarium</h1>

<h2>Select Aquarium Size</h2>

<%= form_tag("/aquaria", method: "post") do %>
  <%= label_tag "Gallons" %>
  <%= select_tag "Gallons", options_for_select(@tanks) %>
  <%= submit_tag("submit") %>
<% end %>
