<h1>Build Your Own Aquarium</h1>

<h2>Select Decor</h2>

<%= form_tag("/decors", method: "post") do %>
  <%= label_tag "style" %>
  <%= select_tag "style", options_for_select(@styles) %>
  <%= submit_tag("submit") %>
<% end %>
