/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Color
 @import "materialize/components/color-variables";
 @import "materialize/components/color-classes";

 // Variables;
 @import "materialize/components/variables";

 // Reset
 @import "materialize/components/normalize";

 // materialize/components
 @import "materialize/components/global";
 @import "materialize/components/badges";
 @import "materialize/components/icons-material-design";
 @import "materialize/components/grid";
 @import "materialize/components/navbar";
 @import "materialize/components/typography";
 @import "materialize/components/transitions";
 @import "materialize/components/cards";
 @import "materialize/components/toast";
 @import "materialize/components/tabs";
 @import "materialize/components/tooltip";
 @import "materialize/components/buttons";
 @import "materialize/components/dropdown";
 @import "materialize/components/waves";
 @import "materialize/components/modal";
 @import "materialize/components/collapsible";
 @import "materialize/components/chips";
 @import "materialize/components/materialbox";
 // @import "materialize/components/forms/forms";
 @import "materialize/components/table_of_contents";
 @import "materialize/components/sidenav";
 @import "materialize/components/preloader";
 @import "materialize/components/slider";
 @import "materialize/components/carousel";
 @import "materialize/components/tapTarget";
 @import "materialize/components/pulse";
 @import "materialize/components/datepicker";
 @import "materialize/components/timepicker";


// import Animate library
@import 'animate';

.center {
  margin-left: auto;
   margin-right: auto;
}

.animations {
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.flex-container {
  display: flex;
  justify-content: center;
}

 .parent {
   position: relative;
   top: 0;
   left: 0;
 }
 .fish_tank {
   position: relative;
   top: 0;
   left: 0;
 }
 .fish1 {
   position: absolute;
   top: 80px;
   left: 100px;
   height: 100px;
   width: 125px;
 }
 .fish2 {
   position: absolute;
   top: 350px;
   left: 125px;
   height: 100px;
   width: 125px;
 }
 .fish3 {
   position: absolute;
   top: 220px;
   left: 300px;
   height: 100px;
   width: 125px;
 }
 .fish4 {
   position: absolute;
   top: 150px;
   left: 540px;
   height: 100px;
   width: 125px;
 }
 .fish5 {
   position: absolute;
   top: 300px;
   left: 500px;
   height: 100px;
   width: 125px;
 }

 .bubble {
   width: 60px;
   height: 60px;
   background: #ffb200;
   border-radius: 200px;
   -moz-border-radius: 200px;
   -webkit-border-radius: 200px;
   position: absolute;
}

.x1 {
   -webkit-transform: scale(0.9);
   -moz-transform: scale(0.9);
   transform: scale(0.9);
   opacity: 0.2;
   -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
   -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
   -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
   left: 200px;
   -webkit-transform: scale(0.6);
   -moz-transform: scale(0.6);
   transform: scale(0.6);
   opacity: 0.5;
   -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
   -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
   -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
   left: 350px;
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   transform: scale(0.8);
   opacity: 0.3;
   -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
   -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
   -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
   left: 470px;
   -webkit-transform: scale(0.75);
   -moz-transform: scale(0.75);
   transform: scale(0.75);
   opacity: 0.35;
   -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
   -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
   -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
   left: 150px;
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   transform: scale(0.8);
   opacity: 0.3;
   -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
   -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
   -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x6 {
  left: 900px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.35;
  -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x7 {
  left: 1000px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.5;
  -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x8 {
   left: 680px;
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   transform: scale(0.8);
   opacity: 0.3;
   -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
   -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
   -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x9 {
   left: 700px;
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   transform: scale(0.8);
   opacity: 0.3;
   -webkit-animation: moveclouds 10s linear infinite, sideWays 1s ease-in-out infinite alternate;
   -moz-animation: moveclouds 10s linear infinite, sideWays 1s ease-in-out infinite alternate;
   -o-animation: moveclouds 10s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x10 {
   left: 800px;
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   transform: scale(0.8);
   opacity: 0.3;
   -webkit-animation: moveclouds 13s linear infinite, sideWays 1s ease-in-out infinite alternate;
   -moz-animation: moveclouds 13s linear infinite, sideWays 1s ease-in-out infinite alternate;
   -o-animation: moveclouds 13s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x11 {
   left: 1100px;
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   transform: scale(0.8);
   opacity: 0.3;
   -webkit-animation: moveclouds 10s linear infinite, sideWays 1s ease-in-out infinite alternate;
   -moz-animation: moveclouds 10s linear infinite, sideWays 1s ease-in-out infinite alternate;
   -o-animation: moveclouds 10s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x12 {
  left: 1300px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.5;
  -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x13 {
  left: 1450px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.35;
  -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
@-webkit-keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        top: 500px;
    }

    100% {
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% {
        top: 500px;
    }
    100% {
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}


.image {
  position: absolute;
  right: 150px;
  bottom: 100px;
   width: 500px;
   height: 500px;
   opacity: .351;
}
