
<div class="container margin flex-container">
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">star</i></h2>
        <h5 class="center">Daniel Loyd</h5>

        <p class="light center">Passionate about his fish, Daniel wants to spread awareness about caring for freshwater aquaria.</p>
        <br>
        <p class="light center">Contact Daniel @ dloyd@aqualand.com</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">bug_report</i></h2>
        <h5 class="center">Shelby Scalia</h5>

        <p class="light center">Shelby is actually a cat lover, but does not discriminate against fish.</p>
        <br><br>
        <p class="light center">Contact Shelby @ sscalia@aqualand.com</p>
      </div>
    </div>
</div>
</div>
