<div class="section no-pad-bot" id="index-banner">
   <div class="container">
     <h1 class="header center orange-text animated bounceInDown animation">MyAquarium</h1>
     <div class="row center">
       <h5 class="header col s12 light">Where you can create your own aquarium</h5>
     </div>
     <div class="row center">
       <a href="aquaria/new" class="btn-large waves-effect waves-light orange">Get Started</a>
     </div>

     <div class="container">
       <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">child_care</i></h2>
            <h5 class="center light">Fun for All Ages</h5>

            <p class="light">Adding an aquarium to your home offers fun for all ages. Entertainment for the kids, cleaning for the parents.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">local_florist</i></h2>
            <h5 class="center light">Grow with Your Aquarium</h5>

            <p class="light">Increase your knowledge of plants and animals. Become one with nature.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">favorite</i></h2>
            <h5 class="center light">Love Your Fishies</h5>

            <p class="light">Develop love for your fish and their ecosystem. Get a fulfilling hobby!</p>
          </div>
        </div>
      </div>


      </div>
    </div>

   </div>
 </div>

 <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us.</h5>
          <p class="grey-text text-lighten-4">MyAquarium seeks to educate prospective freshwater aquarium owners on the realities of diving into this world. We'll provide helpful tips and facts along the way.</p>

        </div>
        <div class="col l6 s12">
          <h5 class="white-text">Our Motto.</h5>
          <p class="grey-text text-lighten-4">Learn. Love. Code.</p>

        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <div class="orange-text text-lighten-3">Made by Daniel and Shelby</div>
      </div>
    </div>
  </footer>
  <div id="bubbles">
         <div class="bubble x1"></div>
         <div class="bubble x2"></div>
         <div class="bubble x3"></div>
         <div class="bubble x4"></div>
         <div class="bubble x5"></div>
         <div class="bubble x6"></div>
         <div class="bubble x7"></div>
         <div class="bubble x8"></div>
         <div class="bubble x9"></div>
         <div class="bubble x10"></div>
 </div>
