<h1>Build Your Own Aquarium</h1>

<h2>Select Fish</h2>

<%= form_tag("/fishies", method: "post") do %>
  <%= label_tag "Species" %>
  <%= select_tag "species", options_for_select(@fishes) %>
  <%= submit_tag("submit") %>
<% end %>
